/* Event Section */
.events-section {
    padding: 30px;
    background-color: black;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

/* Event Section Heading */
.events-section h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "clicker", sans-serif;
    color: #EC008C;
}

/* Event Section Description */
.events-section p {
    font-size: 1.1rem;
    margin-bottom: 70px; /* Adds space between the description and the cards */
}

/* Event Container */
.event-container {
    display: flex;
    justify-content: center; /* Center the cards */
    flex-wrap: wrap; /* Ensure cards wrap on smaller screens */
    margin-top: 10px; /* Reduced top margin */
    margin-bottom: 10px; /* Reduced bottom margin */
    gap: 10px; /* Minimized gap between cards */
}

/* Event Card Styles */
.event-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px; /* Reduced padding */
    width: 280px; /* Reduced card width */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px; /* Reduced margin around the cards */
    box-sizing: border-box;
}

/* Hover effect */
.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Event Card Text */
.event-card-text h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-card-text p {
    font-size: 1rem;
    color: #333333;
    margin-bottom: 15px;
}

/* Event Card Buttons */
.event-card button {
    background-color: transparent;
    color: #FF63D8;
    border: 2px solid #FF63D8;
    padding: 10px 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button Hover Effect */
.event-card button:hover {
    background-color: #FF63D8;
    color: white;
}

/* Event Card Image */
.event-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.event-card.one img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    object-position: top;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .event-container {
        justify-content: center; /* Center the cards on smaller screens */
    }

    .event-card {
        width: 100%; /* Cards will take up full width */
        max-width: 320px; /* Optionally limit the max width */
    }
}
